<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     
      <class name="Guru.Project.TelecomProjectForTestNG.Tests.addNewCustomerTestPageTests">
     
      </class>
      
      <class name="Guru.Project.TelecomProjectForTestNG.Tests.testCase_AddingNewTariffPageTests"/>
     <class name="Guru.Project.TelecomProjectForTestNG.Tests.testCase_TST010_AddTariffPlanToCust"/>
      <class name="Guru.Project.TelecomProjectForTestNG.Tests.testCase_TST011_CheckingCustBill"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
